<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
</head>
<body>
<div class="menuContainer">
    <h1>JOUER AU SKYJO</h1>
    <a onclick="startGame()" class='card startCard behindCardBorder'>
        <svg width="63" height="70" viewBox="0 0 63 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M56.9372 28.0658C62.2844 31.1423 62.2844 38.8577 56.9372 41.9342L13.9895 66.6438C8.65622 69.7123 2 65.8626 2 59.7096L2 10.2904C2 4.13736 8.65623 0.28769 13.9896 3.35618L56.9372 28.0658Z"
                  stroke="white" style="stroke:white;stroke-opacity:1;" stroke-width="4"/>
        </svg>
        <span>PLAY</span>
    </a>
</div>
<div class="scoresContainer">
    <h1>End of game</h1>
    <a onclick="closeScore()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                  fill="white" style="fill:white;fill-opacity:1;"/>
        </svg>
    </a>
    <div class="scoresBackground">

    </div>
</div>
<div class="skyjoContainer">


    <div class="skyjoTitle"><span>SKYJO</span> <a class="restartButton" onclick="newGame()">Reset</a><a
            class="restartButton" onclick="showScore()">Scores</a></div>
    <div class="meta-turn"></div>
    <div class="meta-player-turn"></div>
    <div id="cursor-text" style="position:absolute; pointer-events:none; display:none;">
    </div>
    <div id="cursor-text-2" style="position:absolute; pointer-events:none; display:none">
    </div>
    <button class="showScoreButton" onclick="showScore()">
        Voir les score
    </button>
    <div class="piocheContainer">
        <p class="consigne"></p>
        <div class="pioche">
            <div class='card cardForPioche behindCardBorder'>
                <div class='behindCard'>
                    <div class='span1'><span>o</span><span>SKYJO</span></div>
                    <div class='span2'><span>o</span><span>SKYJO</span></div>
                </div>
            </div>

            <div class="showedCard">
                {{showed_card|safe}}
            </div>
            <div class="card noCard">

            </div>
        </div>

    </div>
    <div class="plateau">
        {{cards|safe}}
    </div>

</div>
<script>
    function setText(message) {
        document.querySelector('.consigne').textContent = message
    }

    function removeText() {
        document.querySelector('.consigne').textContent = ""
    }


    function add_onclick() {
        document.querySelectorAll('.card').forEach(card => {
            card.removeEventListener('click', click_handle);
            card.addEventListener('click', click_handle);
        });

    }

    function click_handle(event) {
        let card = event.currentTarget
        if (!card.classList.contains("untouchable")) {

            if (card.classList.contains('cardForPioche')) {
                discard_card()
            } else if (card.classList.contains('stagingCard')) {
                replaceStagingCardInShowedCard()

            } else if (card.classList.contains('discardedCard')) {
                getDiscardedCard()

            } else {
                const player_id = card.parentElement.parentElement.getAttribute("data-id")
                console.log(player_id)
                if (document.querySelector('.stagingCard')) {
                    exchange(this.id, player_id)
                } else {
                    if (card.querySelector('.behindCard')) {
                        return_card(this.id, player_id)
                    }
                }
            }
        }

    }

    function showScore() {
        document.querySelector('.skyjoContainer').style.display = 'none'
        document.querySelector('.scoresContainer').style.display = 'flex'

    }

    function closeScore() {
        document.querySelector('.skyjoContainer').style.display = 'flex'
        document.querySelector('.scoresContainer').style.display = 'none'
        document.querySelector('.scoresContainer').style.display = 'none'

    }

    async function updateBoard() {

        const response = await fetch('/update_board', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        const data = await response.json();

        //reset affichage
        document.querySelector('.piocheContainer').style.display = 'flex'
        document.querySelector('.scoresContainer').style.display = 'none'
        document.querySelector('.showScoreButton').style.display = 'none'
        document.querySelector('.meta-turn').setAttribute('data-value', data.turn_number);
        document.querySelector('.meta-player-turn').setAttribute('data-value', data.current_turn);


        //Complete affichage
        document.querySelector('.plateau').innerHTML = data.cards;
        document.querySelector('.showedCard').innerHTML = data.showed_card;

        //add staging card
        const stagingCard = data.staging_card;
        const cardStagingArea = document.querySelector('.stagingCard');
        if (stagingCard) {
            if (cardStagingArea) {
                cardStagingArea.outerHTML = stagingCard;
            } else {
                document.querySelector('.pioche').innerHTML += stagingCard;
            }
        } else {
            if (cardStagingArea) {
                cardStagingArea.remove();
            }
        }

        //ajust size of deck
        document.querySelectorAll('.cardDeck').forEach((deck) => {
            deck.style.minWidth = 60 / data.player_number + '%'
        })

        //adjust touchability of pioche
        if (data.turn_number <= 0 || document.querySelector('.stagingCard') || data.has_the_player_passed_staging_card) {
            document.querySelector(".pioche .cardForPioche").classList.add("untouchable")
        } else {
            document.querySelector(".pioche .cardForPioche").classList.remove("untouchable")
        }

        //if there is no discarded card, we replace it by an invisible card to keep rendering beautifull
        const display_no_card = data.no_card
        if (display_no_card) {
            document.querySelector('.noCard').classList.add('showNoCard')
        } else {
            document.querySelector('.noCard').classList.remove('showNoCard')
        }

        //explain what player have to do
        if (data.turn_number == 0) {
            setText("Return your card")
        } else if (data.has_the_player_passed_staging_card) {
            setText("Return one card")
        } else if (!document.querySelector('.stagingCard') && data.turn_number > 0) {
            setText("Discard a card before returning one")
        } else if (stagingCard) {
            setText("Choose your card to exchange or pass and return your own card")
        } else {
            removeText()
        }


        //render title "end of game" if only game is finished not just axe
        if (data.axes.end_of_game) {
            document.querySelector('.scoresContainer h1').style.display = 'block'
        }

        //add titles with players
        let content = "<div class=\"title\">"
        for (let i = 0; i < data.player_number; i++) {
            content += `<span>Joueur ${i}</span>`
        }
        content += "</div>"
        document.querySelector('.scoresContainer .scoresBackground').innerHTML = content

        //=============add scores
        let pointsHTML = "<div class='scores'>"
        if (data.axes.points.length != 0) {

            //index of game
            // ex : [ joueur 1 [score1,score2,score3], joueur 2 [score1,score2,score3]]
            for (let k = 0; k < data.axes.points[0].length; k++) {
                pointsHTML += `<div class=\"scoreLine \">`
                //index of player for this game
                data.axes.points.forEach((playerPoints) => {
                    pointsHTML += `<span>${playerPoints[k] > 0 ? "+" : ""}${playerPoints[k]}</span>`
                })
                pointsHTML += "</div>"
            }


        }
        document.querySelector('.scoresContainer .scoresBackground ').innerHTML += pointsHTML

        //render sum of score
        pointsHTML = `<div class=\"scoreLine finaleScore\">`
        data.axes.points_sum.forEach((points) => {
            pointsHTML += `<span>${points}</span>`
        })
        pointsHTML += "</div></div>"
        document.querySelector('.scoresContainer .scoresBackground').innerHTML += pointsHTML


        //=============end

        //manage button
        if (!data.axes.end_of_game) {
            document.querySelector('.scoresContainer .scoresBackground').innerHTML += "<button onclick='startGame()'>Start Axe</button>"
        } else {
            document.querySelector('.scoresContainer .scoresBackground').innerHTML += "<button onclick='newGame()'>Start New Game</button>"
        }


        if (!data.axes.end_of_axe && !data.axes.end_of_game) {
            /* add if game is not finished*/
            add_onclick()
        } else {
            //if axe if finished
            document.querySelector('.piocheContainer').style.display = 'none'
            document.querySelector('.showScoreButton').style.display = 'flex'

        }

    }

    function return_card(card_number, player) {
        let body = {
            card_number: card_number,
            player_number: player
        }
        fetch('/return/card', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(body),
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error)
                } else {
                    console.log('Success:', data);
                    updateBoard()
                }

            })
            .catch((error) => {
                console.error('Error:', error);
                alert(error.message);
            });
    }

    function startGame() {

        fetch('/restart', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error)
                } else {
                    console.log('Snew_gameuccess:', data);
                    document.querySelector('.menuContainer').style.display = 'none'
                    document.querySelector('.skyjoContainer').style.display = 'flex'
                    updateBoard()
                }

            })
            .catch((error) => {
                console.error('Error:', error);
                alert(error.message);
            });
    }

    function newGame() {

        fetch('/newGame', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error)
                } else {
                    console.log('Success:', data);
                    document.querySelector('.scoresContainer').style.display = 'none'
                    document.querySelector('.skyjoContainer').style.display = 'flex'
                    updateBoard()
                }

            })
            .catch((error) => {
                console.error('Error:', error);
                alert(error.message);
            });
    }

    function replaceStagingCardInShowedCard(card_number, player) {

        fetch('/pass/staging/card', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error)
                } else {
                    console.log('Success:', data);
                    updateBoard()
                }

            })
            .catch((error) => {
                console.error('Error:', error);
                alert(error.message);
            });
    }

    function getDiscardedCard() {

        fetch('/get/showed/card', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },

        })
            .then(response => response.json())
            .then(data => {
                if (data.message == 'ok') {
                    updateBoard()
                }

            })
            .catch((error) => {
                console.error('Error:', error);
                alert(error.message);
            });
    }

    function discard_card() {

        fetch('/discard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.message == 'ok') {
                    updateBoard()
                }

            })
            .catch((error) => {
                console.error('Error:', error);
                alert(error.message);
            });
    }

    function exchange(card_number, player_index) {
        console.log(player_index)
        const body = {
            "card_to_change": card_number,
            "player_index": player_index
        }
        console.log(body)
        fetch('/exchange', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(body),
        })
            .then(response => response.json())
            .then(data => {
                if (data.message == "ok") {
                    updateBoard()
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert(error.message);
            });
    }


</script>
</body>
</html>